pandas
statsmodels
plotly
matplotlib
scikit-learn==0.24.2
mlxtend
xgboost
seaborn
streamlit_option_menu
numpy
openpyxl
streamlit==1.1.0
streamlit-webrtc==0.20.0
pydeck==0.6.2
awesome-streamlit

